/* Corps et tête de la page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(253, 254, 254);
  width: 100%;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.menu ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.menu a {
  list-style: none;
  display: flex;
  text-decoration: none;
  color: #333;
  margin-left: 20px; /* Espace entre les liens */
  font-size: 1.1em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.menu a:hover {
  background-color: rgb(7, 7, 7);
  color: rgb(254, 255, 255);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.5s;
}

/* Ajouts spécifiques pour le menu hamburger */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.mobile-menu {
  background-color: white;
  width: 250px;
  height: 100%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.mobile-menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
}

.mobile-menu img {
  margin-left: -50px;
  margin-top: 100px;
}

body.no-scroll {
  overflow: hidden;
}

.background {
  background: url("/Images/santé_img2.jpeg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
}
.overlay1 {
  background: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(7px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.overlay1 h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.overlay1 p {
  color: #333;
  font-size: 1.2rem;
  max-width: 700px;
}

/* Tout les bouttons */

.btn {
  text-decoration: none;
  color: #333;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(139, 197, 245);
  padding: 10px;
  border-radius: 7px;
  margin-top: 50px;
}
.btn:hover {
  background-color: rgb(139, 245, 242);
  padding: 10px;
  border-radius: 5px;
  transform: scale(1.05);
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Maladies courantes */

.presentation {
  padding: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titre {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.note {
  text-align: center;
  color: #93d6d0;
  margin: 20px 0;
}
.gr-presentation {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
.gr-presentation .box {
  padding: 30px;
  background-color: #f3fbfa;
  border-radius: 6px;
  transition: 0.5s;
}
.gr-presentation .box h1 {
  text-transform: uppercase;
  color: #93d6d0;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
.gr-presentation .box p {
  font-size: 16px;
}
.gr-presentation .box:hover {
  background-color: #93d6d0;
}
.gr-presentation .box:hover h1 {
  color: #fff;
}
.gr-presentation .box:hover p {
  color: #333;
}
.gr-presentation .box a {
  text-decoration: none;
}


/* Petite note de prévention */
.prevention {
  background-color: #f3fbfa;
  padding: 10px;
  color: #93d6d0;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.prevention p {
  color: #333;
}
.prevention:hover {
  background-color: #93d6d0;
  color: black;
  transition: 0.5s;
}

/* Pieds de la page */

.pieds {
  background: url("/Images/img1.png");
}
.pieds li {
  list-style-type: none;
}
.pieds a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-family: fantasy;
  padding: 2px;
  border-radius: 5px;
}
.lien li a {
  display: block;
  margin-left: 20px;
}
.copy {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  text-align: center;
}
.ref {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: azure;
  text-align: center;
  transform: translate(25px, 0px);
  font-size: 2rem;
}


.liens-utiles h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: azure;
  transform: translate(25px, 0px);
  text-align: center;
  font-size: 2rem;
}
.ajout li a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.4rem;
  padding: 15px;
  margin-left: 250px;
  border-radius: 5px;
}

/* Page Maladies */

/* Tout les liens vers les autres pages */

.lien a {
  text-decoration: none;
  color: #333;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 2px;
}
.lien a:hover {
  color: #fbfcfd;
  transition: 0.5s;
}
.liens a {
  text-decoration: none;
  color: #026788;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 2px;
}
.liens a:hover {
  color: cyan;
  transition: 0.5s;
}
.dmenu {
  margin-left: 5055px;
}

/* Presentation de la page maladies */
.banniere-maladie {
  background: url("/Images/santé_img.jpeg") no-repeat center center/cover;
  height: 300px;
  position: relative;
}
.banniere-maladie::after {
  content: "MALADIES";
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #004d66;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 20px;
  border-radius: 10px;
}

img {
  display: block;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.page-maladie section {
  padding: 20px;
  background-color: #ffffff;
  font-size: 1rem;
  color: #333;
  line-height: 1.7;
  max-width: 1000px;
  margin: 0 auto;
}

.page-maladie h3 {
  font-size: 1.2rem;
  margin-top: 40px;
  color: #004d66;
  border-left: 5px solid #007b5e;
  padding-left: 10px;
}
.page-maladie h4 {
  font-size: 1.7rem;
  margin-top: 25px;
  color: rgb(154, 241, 241);
}
.page-maladie p {
  margin-bottom: 15px;
  text-align: justify;
}
.page-maladie .lien li a {
  color: #333;
}
.page-maladie .lien li a:hover {
  color: azure;
}
.page-maladie strong .ref  {
  text-align: center;
}

.liens-utiles {
  text-align: center;
  margin-top: 30px;
}

.liens-utiles h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: azure;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  transform: none; /* retire le translate */
}

.ajout {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  text-align: left; /* pour que les liens restent sous forme de liste */
}
.ajout li {
  text-align: center;
  margin: 0;
  padding: 0;
}

.ajout li a {
  text-decoration: none;
  color: #333;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2rem;
  padding: 8px 0;
  border-radius: 5px;
  margin-left: 0; /* retire le décalage */
  display: block;
  width: 100%;
  text-align: center;
}



/*  Styles pour la page transmission */

.page-transmission .banniere-transmission {
  background: url("/Images/transmission .jpg") no-repeat center center/cover;
  height: 300px;
  position: relative;
}

.page-transmission .banniere-transmission::after {
  content: "TRANSMISSION";
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #004d66;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 25px;
  border-radius: 8px;
}

/* Section principale */
.page-transmission section {
  padding: 20px;
  background-color: #ffffff;
  font-size: 1rem;
  color: #333;
  line-height: 1.7;
  max-width: 1000px;
  margin: 0 auto;
}

/* Titres */
.page-transmission h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #007b5e;
  text-align: center;
}

.page-transmission h3 {
  font-size: 1.2rem;
  margin-top: 40px;
  color: #004d66;
  border-left: 5px solid #007b5e;
  padding-left: 10px;
}

.page-transmission h4 {
  font-size: 1.7rem;
  margin-top: 25px;
  color: rgb(154, 241, 241);
}

/* Paragraphes */
.page-transmission p {
  margin-bottom: 15px;
  text-align: justify;
}


/* Style pour la page Traitement */

.banniere-traitement {
  background: url("/Images/chercheur-travaillant-avec-des-fluides-dans-des-flacons-dans-le-laboratoire-de-chimie.jpg") no-repeat center center/cover;
  height: 300px;
  position: relative;
}
.banniere-traitement::after {
  content: "TRAITEMENT";
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #004d66;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 20px;
  border-radius: 10px;
}
section.traitement-page {
  padding: 20px;
  background-color: #ffffff;
  max-width: 1000px;
  margin: auto;
}
.traitement-page .card-traitement {
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}

.traitement-page h2,
.traitement-page h3,
.traitement-page h4 {
  color: #004d66;
  margin-top: 35px;
  margin-bottom: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.traitement-page p {
  margin-bottom: 15px;
  text-align: justify;
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
}
.traitement-page strong {
  color: #007b5e;
}


/* Style pour la page prévention */

.banniere-prevention {
  background: url("/Images/prévention .jpg") no-repeat center center/cover;
  height: 300px;
  position: relative;
}

.banniere-prevention::after {
  content: "PRÉVENTION";
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #004d66;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 20px;
  border-radius: 10px;
}

/* === Section spécifique à la page prévention === */
section.prevention-page {
  padding: 20px;
  background-color: #ffffff;
  max-width: 1000px;
  margin: auto;
}

.prevention-page .card-prevention {
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}

/* Titres et textes spécifiques à prévention */
.prevention-page h2,
.prevention-page h3,
.prevention-page h4 {
  color: #004d66;
  margin-top: 35px;
  margin-bottom: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.prevention-page p {
  margin-bottom: 15px;
  text-align: justify;
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
}

.prevention-page strong {
  color: #007b5e;
}

/* Style pour la page Ressource */

.banniere-ressource {
  background: url("/Images/42585516-ai-genere-medical-stethoscope-sur-vert-contexte-haut-vue-avec-copie-espace-photo.jpg") no-repeat center center/cover;
  height: 300px;
  position: relative;
}
.banniere-ressource::after {
  content: "RESSOURCE";
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #004d66;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 20px;
  border-radius: 10px;
}
section.ressource-page {
  padding: 20px;
  background-color: #ffffff;
  max-width: 1000px;
  margin: auto;
}
.ressource-page .card-ressource{
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}
.ressource-page h2,
.ressource-page h3,
.ressource-page h4 {
  color: #004d66;
  margin-top: 35px;
  margin-bottom: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ressource-page p {
  margin-bottom: 15px;
  text-align: justify;
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
}
.ressource-page strong {
  color: #007b5e;
}




/* Style pour la page symptôme */

.banniere-symptome {
  background: url("/Images/symptômes-dicônes-pneumonie-respiratoire-de-maladie-grippe-fièvre.jpg") no-repeat center center/cover;
  height: 300px;
  position: relative;
}
.banniere-symptome::after {
  content: "SYMPTÔMES";
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #004d66;
  background-color: rgba(119, 239, 249, 0.75);
  padding: 10px 20px;
  border-radius: 10px;
}

/* === Section spécifique à la page symptome === */

section.symptome-page {
  padding: 20px;
  background-color: #ffffff;
  max-width: 1000px;
  margin: auto;
}
.symptome-page .card-symptome {
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}

/* Titres et textes spécifiques à symptôme */
.symptome-page h2,
.symptome-page h3,
.symptome-page h4 {
  margin-top: 35px;
  margin-bottom: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.symptome-page p {
  margin-bottom: 15px;
  text-align: justify;
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
}
.symptome-page h4 {
  color: #007b5e;
}

.symptome-page strong {
  color: #007b5e;
}
.symptome-page h3 {
  color: #93d6d0;
}

/* Styles pour la page Centre de Santé */

.centre-page {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.centre-intro h1 {
  font-size: 2rem;
  color: #007b6e;
  text-align: center;
}

.centre-intro p {
  text-align: center;
  color: #444;
  margin-bottom: 2rem;
}

.centre-map h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #007b6e;
}

.map-container {
  border: 2px solid #007b6e;
  border-radius: 10px;
  overflow: hidden;
}

/* Styles pour la page Contact */

.contact-container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-header h1 {
  font-size: 2rem;
  color: #007b6e;
}

.contact-header p {
  font-size: 1.1rem;
  color: #444;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.contact-item i {
  color: #007b6e;
  margin-right: 8px;
}

.contact-item a {
  font-size: 1.1rem;
  color: #007b6e;
  text-decoration: none;
}

.contact-socials a {
  font-size: 1.5rem;
  color: #007b6e;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.contact-socials a:hover {
  color: #005f56;
}

.contact-form-section h2 {
  text-align: center;
  color: #007b6e;
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #007b6e;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #005f56;
}

/* Style de la page À propos */

.a-propos-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.a-propos-section h2 {
  font-size: 2em;
  margin-bottom: 1rem;
  text-align: center;
  color: #2c3e50;
}

.a-propos-section h3 {
  margin-top: 1.5rem;
  color: #2980b9;
}

.a-propos-section p {
  line-height: 1.6;
  margin-top: 0.5rem;
}

.apropos-img {
  max-width: 100%;
  height: auto;
  margin: 1rem auto;

  display: block;
  border-radius: 8px;
}

/* Bouton vers la page Contact */
.cta-contact {
  margin-top: 2rem;
  text-align: center;
}

.btn-contact {
  background-color: #3498db;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-contact:hover {
  background-color: #2980b9;
}



/* La responsivité */

@media (max-width: 768px) {
  .menu ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .page-maladie .banniere-maladie::after {
    font-size: 2rem;
    bottom: 10px;
    left: 15px;
  }

  .page-maladie section {
    padding: 15px;
    font-size: 0.95rem;
  }

  .page-maladie h2 {
    font-size: 1.2rem;
  }

  .page-maladie h3 {
    font-size: 1rem;
  }

  .page-transmission .banniere-transmission::after {
    font-size: 2rem;
    bottom: 10px;
    left: 15px;
  }

  .page-transmission section {
    padding: 15px;
    font-size: 0.95rem;
  }

  .page-transmission h2 {
    font-size: 1.2rem;
  }

  .page-transmission h3 {
    font-size: 1rem;
  }
  .banniere-prevention::after {
    font-size: 2rem;
    bottom: 15px;
    left: 15px;
  }

  .prevention-page {
    padding: 15px;
  }

  .prevention-page .card-prevention {
    padding: 15px;
  }

  .prevention-page h2 {
    font-size: 1.3rem;
  }

  .prevention-page p {
    font-size: 0.95rem;
  }
  .banniere-ressource::after {
    font-size: 2rem;
    bottom: 15px;
    left: 15px;
  }
  .ressource-page {
    padding: 15px;
  }
  .ressource-page .card-ressource {
    padding: 15px;
  }
  .ressource-page h2 {
    font-size: 1.3rem;
  }
  .ressource-page p {
    font-size: 0.95rem;
  }

  .banniere-traitement::after {
    font-size: 2rem;
    bottom: 15px;
    left: 15px;
  }
  .traitement-page {
    padding: 15px;
  }
  .traitement-page .card-traitement {
    padding: 15px;
  }
  .traitement-page h2 {
    font-size: 1.3rem;
  }
  .traitement-page p {
    font-size: 0.95rem;
  }

   .banniere-symptome::after {
    font-size: 2rem;
    bottom: 15px;
    left: 15px;
  }
  .symptome-page {
    padding: 15px;
  }
  .symptome-page .card-traitement {
    padding: 15px;
  }
  .symptome-page h2 {
    font-size: 1.3rem;
  }
  .symptome-page p {
    font-size: 0.95rem;
  }

  .centre-page {
    padding: 1rem;
  }

  .centre-intro h1 {
    font-size: 1.5rem;
  }

  .centre-map h2 {
    font-size: 1.2rem;
  }

  .contact-container {
    padding: 1rem;
  }

  .contact-header h1 {
    font-size: 1.5rem;
  }

  .contact-info {
    gap: 0.5rem;
  }

  .contact-socials a {
    font-size: 1.3rem;
    margin: 0 5px;
  }

  .CoMaKi {
    height: auto;
    padding: 60px 20px;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .page-maladies section {
    padding: 20px 15px;
  }
  .page-maladies h2 {
    font-size: 1.6rem;
  }
  .page-maladies h3 {
    font-size: 1.3rem;
  }
  .page-maladies h4 {
    font-size: 1.1rem;
  }
}
